﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <h2>Welcome to The Application</h2>
    @using (@Html.BeginForm("FirstPage", "Home"))
    {
        <input type="submit" value="Start" />
    }
</body>
</html>
