﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Second Page</title>
</head>
<body>
    <h2>Enter Your Address & Phone</h2>
    @using (@Html.BeginForm("Congratulations", "Home"))
    {
        <div>
            <input type="text" placeholder="FavoriteWord" name="FavoriteWord"/><br />
            <input type="text" placeholder="Phone" name = "Phone"/>
        </div>
        <input type="submit" value="next" />
    }
</body>
</html>